name: Deploy backend and frontend on AWS EC2

# Controls when the action will run.
# Triggers the workflow on push to all branches exepct main
# Workflow must pass in order to make pull request to main
on:
  push:
    branches:
      - '*'
      #- '!main'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    strategy:
      matrix:
        python-version: [3.9.10]
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Fetch code
        uses: actions/checkout@v2

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PEM }}
          known_hosts: .ssh/known_hosts

      - name: Test connectivity
        run: ssh ubuntu@$SERVER_ADDRESS "ls -ltr"

#      - name: Run unit tests
#        run: |
#          ssh ubuntu@$SERVER_ADDRESS
#          "cd /usr/src/app/hit-async-programming-proj/backend &&
#          npm install --ignore-scripts &&
#          npm test"

#      - name: Deploy services
#        run: |
#          ssh -i "${{ secrets.DEPLOY_KEY }}" ubuntu@$SERVER_ADDRESS
#          "systemctl restart backend &&
#          systemctl restart frontend &&
#          systemctl status backend &&
#          systemctl status frontend"
